<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syriansoldier.big_event.mapper.ArticleCategoryMapper">
  <insert id="add">
    insert into `article_cate` (cat_name, cat_alias, created_user)
    values
        (#{body.categoryName}, #{body.categoryAlias}, #{userid})
  </insert>

  <select id="list" resultType="com.syriansoldier.big_event.pojo.ArticleCategory">
    select * from `article_cate` where created_user = #{createUserId}
  </select>

  <select id="detail" resultType="com.syriansoldier.big_event.pojo.ArticleCategory">
    select * from `article_cate` where id = #{id}
  </select>

  <delete id="delete">
    delete from `article_cate` where id = #{id}
  </delete>

  <update id="update">
    update `article_cate` 
    set 
    cat_name = #{body.categoryName}, 
    cat_alias = #{body.categoryAlias} 
    where id = #{body.id}
  </update>

</mapper>

